body {
    text-align: center;
}

input {
    width: 120px;
}

li{
    list-style: none;
    height: 40px;
    padding: 10px 5px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: left;
    border-bottom: #FFDEAD 1px solid;
}

li:hover, li:active {
    color: #ffffff;
    background: #FF8000;
}

li .title {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
}

li .desc {
    float: left;
    font-size: 12px;
}

li .msg {
    float: right;
    font-size: 12px;
}

error {
    color: red;
}

success {
    color: green;
}

#send, #receive {
    display: inline-block;
}

.show, .header, .bottom {
    width: 450px;
    background-color: #FFDEAD;
    padding: 15px
}

.show {
    background-color: #FFEFD5;
    height: 600px;
    overflow-y: scroll
}

.bottom {
    height: 30px;
}

.header {
    height: 30px;
    font-weight: bold;
}

.fileDescRes {
    margin-left: 3px;
}