<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>主页</title>

    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}"/>
    <script src="{{ url_for('static',filename='js/home.js') }}"></script>
</head>

<body>

<div id="send">
    <div class="header">发送文件</div>
    <div class="show"></div>
    <div class="bottom">
        <input type="file" id="fileIpt">
        <input id="receiverIpt" placeholder="请输入 sub">
        <button id="sendFileBtn">发送</button>
    </div>
</div>

<div id="receive">
    <div class="header">接收文件</div>
    <div class="show"></div>
    <div class="bottom">
        ....
    </div>
</div>

</body>
</html>